.banner {
}

.img-fluid.img-banner {
  position: relative;
  left: 20px;
  border-radius: 6px 0 0 0;
  top: 20px;
}

div {
}

.img-shape {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 50% 100%, 0% 50%);
}

.form-control::-webkit-input-placeholder {
  color: white;
}

.team :hover {
  background: rgb(38,130,130) !important;
  color: white;
}

@media (max-width: 576px) {
  .jumbotron.text-center.shadow-lg.rounded {
    position: relative !important;
    top: 28% !important;
    left: 9% !important;
    width: 82% !important;
  }
}

@media (max-width: 576px) {
  .carousel-indicators {
    position: absolute !important;
    left: 0!important;
    bottom: 29% !important;
  }
}

@media (max-width: 576px) {
  .rounded-circle {
    width: 2vw !important;
  }
}

@media (max-width: 768px) {
  #vertical {
    visibility: hidden;
  }
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(63,177,177)!important;
}

.year {
  position: relative;
  top: -30px;
  left: -6%;
}

@media (max-width: 576px) {
  .year {
    top: -45px;
    left: -3%;
  }
}

